services:
  web:
    build: .
    working_dir: /data
    command: python app.py
    links:
     - db
    volumes:
     - .:/data
    ports:
     - "5000:5000"

  db:
    image: mysql:5.7
    environment:
        MYSQL_ROOT_PASSWORD: 3262253
    ports:
      - "3306:3306"